<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>flight.wallet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B5E8B232184F5EF00604744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B5E8B392184F5F100604744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B5E8B442184F5F100604744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
